<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.training.mapper.TrainingClassStudentMapper">

    <select id="selectPage" resultType="org.jeecg.modules.training.vo.TrainingClassStudentVO">
        SELECT *
        FROM (
                 SELECT s.*, u.avatar
                 FROM training_class_student s
                          LEFT JOIN sys_user u ON u.username = s.username
             ) t ${ew.customSqlSegment}
    </select>

</mapper>
